<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="categories"
        text="Categories"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ category?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ category?.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="category-content ion-margin-top ion-padding">
    <ng-container *ngIf="!initialLoading">
      <app-articles-grid [articles]="articles" [showActions]="false">
      </app-articles-grid>
    </ng-container>

    <ng-container *ngIf="initialLoading">
      <ion-spinner class="ion-margin-top" name="crescent"></ion-spinner>
    </ng-container>
  </div>
</ion-content>
