<div class="sign-in">
  <ion-icon color="primary" name="log-in" class="sign-in__icon"></ion-icon>

  <ion-text color="primary" class="sign-in__title">
    <h1>Join the Discussion and Stay Informed</h1>
  </ion-text>

  <p class="sign-in__description">
    Engage with our articles, express your thoughts through comments, and show
    appreciation for your favorite stories by liking them.
  </p>

  <ion-button (click)="signInWithGoogle()" class="ion-margin-top">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Continue with Google
  </ion-button>
</div>
